{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Familymaker Awards Start Here -->
      <div id="awards">
        <div class="awards-container">
          <a href="">
            <h2>Familymaker Awards</h2>
          </a>
          <div class="awards-content">
            <p>
              'Family as Happy Home &Familymaker Award' discussion was conducted
              on 8th October and the program was organized by Vision Search in
              association with Global Peace Foundation India and Khushigram at
              Noida Auditorium.
            </p>
            <p>
              On the basis of special contribution and evaluation in building
              families, Dr. C.K. Bhardwaj, AkshitaTomar, Ritica Arora, Radhika
              Gulati, Krishna Chauhan, Laxman Jha, Madhu Gupta, Anju Aggarwal,
              Seema Singh and Priyanka Kumar were awarded the Familymaker
              Award.The awards were declared by the jury comprising of Sarvesh
              Mittal, Asha Mohini, and Vasudha Arora.
            </p>
            <p>
              The criteria of selection were involvement, accountability,
              responsibility, time spent, values and ethics upheld, human and
              material resource management, etc. Breaking the gender stereotype,
              two men were awarded and the jury felt that more men would come
              forward to take the responsibility and would be awarded in the
              future.
            </p>
            <p>
              Familymaker awards has been commenced by Mona Mehra of Vision
              Search to honor the work of homemakers. Over the years she saw the
              disrespect faced by her mother and aunts and anybody who takes the
              responsibility or accountability of running the household.
            </p>
            <p>
              A homemaker is devoid of any gender and her mission became to gain
              back the respect for a Home and Homemakers. It takes loads of work
              to make a home/ family and since the person doing the task at home
              does the work themselves and it is free it is not accepted as
              work. The doer of the task is mostly a mother or a father or could
              be any close family member.
            </p>
            <p>
              Since the benchmark we follow for work is that it has to be done
              for money only, this disqualifies a Homemaker to take credit of
              the work done and causes so much of mental health issues in them.
              The constant disrespect leads to depression, frustration, anger
              and loss of self-confidence and self-respect.
            </p>
          </div>
          <button class="read-more-btn awards-btn">Linkedin</button>
          <div class="awards-image-container">
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m1.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m2.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m3.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m4.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m5.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m6.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m7.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m8.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m9.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m10.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m11.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m12.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m13.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m14.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m15.jpeg" alt="" />
            </div>
            <div class="awards-images">
              <img src="https://monamehra.com/uploads/m16.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
   {%endfor%}