{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Blog section start here -->
      <div id="blog">
        <div id="our-vision">
          <div id="overlay">
            <h2>Home / Work-Home Balance Workshop</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
          </div>
        </div>
        <div class="blog-container">
          <div class="blog-content">
            <h2>Work-Home Balance Workshop</h2>
            <p>
              Work life balance is a key area of concern for each employee. We
              all balance various aspects of our lives either it is friends,
              hobbies, spirituality, health, family, career etc. Each one of us
              have different priorities. Home is the center of our living as we
              might be anywhere in the world we eventually head back home.
            </p>
            <h5>ELEMENTS OF LIVING- HOME IS AT THE CENTER</h5>
            <p>
              Work life balance is a key area of concern for each employee. We
              all balance various aspects of our lives either it is friends,
              hobbies, spirituality, health, family, career etc. Each one of us
              have different priorities. Home is the center of our living as we
              might be anywhere in the world we eventually head back home.
            </p>
            <h5>WHAT EXACTLY IS A HOME?</h5>
            <p>
              A personal space, a place where family is nurtured, a place for
              relaxation…….. Each one of us have a different definition of a
              Home. A house is one of the most expensive investment we make but
              to make a house into a home takes more than just money. It takes
              caring, kindness, empathy between its family members to make a
              Home. A home is made with both material and non-material aspect.
              The non-material aspect is the kindness, empathy, caring and
              caregiving and relationships between family members. We all start
              from a Home. I showcase similarity of operations between a Home
              and an organization to integrate work and Home for better
              understanding. Happy people come from happy homes and are more
              productive. I help integrate Home into living so that we start
              talking work done in a home as productive and treat it with
              respect.
            </p>
            <p>
              Respect and understanding are the key characteristics required for
              making good relationships and our relationship with our families
              is of utmost importance. The longest research done by Havard to
              find the reason for our happiness revealed that our close
              relationship with our family is the source of our greatest
              happiness. This happiness is what makes us productive in our
              workplaces.
            </p>
            <p>
              The outcome of my workshop is happiness which makes people happier
              and productive in their workplaces.
            </p>
          </div>
          <div class="blog-image">
            <img src="https://monamehra.com/uploads/cc1.jpg" alt="" />
          </div>
        </div>
      </div>
      <!-- Blog section ends here -->
{%endblock%}