{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Blog section start here -->
      <div id="blog">
        <div id="our-vision">
          <div id="overlay">
            <h2>Home / Blog</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
          </div>
        </div>
        <div class="blog-container">
          <div class="blog-card-container">
            <div class="blog-card">
              <div class="blog-card-image">
                <img src="https://monamehra.com/uploads/blog-01.jpg" alt="" />
              </div>
              <div class="blog-card-content">
                <h4>What is “Soft” in the Soft Skill?</h4>
                <span>by Mona Mehra</span>
                <p>
                  Leadership is about hard skills and soft skills or tasks and
                  relationships. Hard skills are easier to define as the
                  education system defines that for us
                </p>
              </div>
              <a href="" class="blog">
                <button class="read-more-btn">Read More</button>
              </a>
            </div>
            <div class="blog-card">
              <div class="blog-card-image">
                <img src="https://monamehra.com/uploads/blog-02.jpg" alt="" />
              </div>
              <div class="blog-card-content">
                <h4>Driven By Emotions, Reasoned by Mind</h4>
                <span>by Mona Mehra</span>
                <p>
                  We humans work on three levels – Body, mind and soul. Body or
                  the physical attributes are most understood as they are seen
                  and are the tangibles.
                </p>
              </div>
              <a href="" class="blog">
                <button class="read-more-btn">Read More</button>
              </a>
            </div>
            <div class="blog-card">
              <div class="blog-card-image">
                <img src="https://monamehra.com/uploads/blog-03.jpg" alt="" />
              </div>
              <div class="blog-card-content">
                <h4>Perfect Teamwork</h4>
                <span>by Mona Mehra</span>
                <p>
                  Looking for an individual to fill a vacancy with reiteration
                  on “The person should be perfect” made me think what is
                  perfect and does perfection exist?
                </p>
              </div>
              <a href="" class="blog">
                <button class="read-more-btn" class="blog">Read More</button>
              </a>
            </div>
            <div class="blog-card">
              <div class="blog-card-image">
                <img src="https://monamehra.com/uploads/blog-01.jpg" alt="" />
              </div>
              <div class="blog-card-content">
                <h4>What is “Soft” in the Soft Skill?</h4>
                <span>by Mona Mehra</span>
                <p>
                  Leadership is about hard skills and soft skills or tasks and
                  relationships. Hard skills are easier to define as the
                  education system defines that for us
                </p>
              </div>
              <a href="" class="blog">
                <button class="read-more-btn">Read More</button>
              </a>
            </div>
            <div class="blog-card">
              <div class="blog-card-image">
                <img src="https://monamehra.com/uploads/blog-02.jpg" alt="" />
              </div>
              <div class="blog-card-content">
                <h4>Driven By Emotions, Reasoned by Mind</h4>
                <span>by Mona Mehra</span>
                <p>
                  We humans work on three levels – Body, mind and soul. Body or
                  the physical attributes are most understood as they are seen
                  and are the tangibles.
                </p>
              </div>
              <a href="/" class="blog">
                <button class="read-more-btn">Read More</button>
              </a>
            </div>
            <div class="blog-card">
              <div class="blog-card-image">
                <img src="https://monamehra.com/uploads/blog-03.jpg" alt="" />
              </div>
              <div class="blog-card-content">
                <h4>Perfect Teamwork</h4>
                <span>by Mona Mehra</span>
                <p>
                  Looking for an individual to fill a vacancy with reiteration
                  on “The person should be perfect” made me think what is
                  perfect and does perfection exist?
                </p>
              </div>
              <a href="" class="blog">
                <button class="read-more-btn" class="blog">Read More</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog section ends here -->
{%endblock%}