{% extends "index.html" %}
{%load static%}
{%block body%}
      <div id="sponsership">
        <div class="sponsership-container">
          <h2>Familymaker Connect Membership </h2>
          <div class="sponsership-content">
            <!-- <p>
              The first Familymaker awards was a grand success. There were live
              audience of over 150+ people and a wide news coverage.
            We are working on a mission to change the perspective for Home and Homemakers. The deep seeded disrespect mothers, wives, housewives, househusband, stay-at-home mom or dad also known as Homemakers face is demoralizing which slowly seeps away their self-confidence and self-respect, leading to mental health issues. The reason behind the same is the wrong policy we follow which accepts only paid work as work. This declares anything we do in a Home as worthless as that is not done for money. 
          </p>
            <p>We are working to create awareness and gain back respect for our mothers back in the society. We did our first ‘Familymaker Awards – Honoring the work of Homemakers’ on 8th October 2023 and plan to take it across India and World. We would also be doing training programs to educate people on making happier families in Homes. </p>
            <p>Your sponsorship would help us reach out to larger audience and make happier families and homes worldwide. </p> -->
            <div class="price-card-container" id="connect-membership-container">
              <div class="card-basic" id="connect-membership-card">
                <div class="card-header header-basic">
                  <h1>Free</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹0/-</h3></p>
                  <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                      <li class="card-element">Free access to all blogs</li>
                      <li class="card-element">Free access to all videos</li>
                      <li class="card-element">Free access to entry at Familymaker Awards</li>
                      <li class="card-element">Information on the upcoming Familymaker Connect event</li>
                    </ul>
                    <button class="btn btn-basic">Become a member</button>
                  </div>
                </div>
              </div>
              <div class="card-standard" id="connect-membership-card">
                <div class="card-header header-standard">
                  <h1>Premium </h1>
                </div>
                <div class="card-body">
                  <p><h3>₹5,000/-</h3></p>
                  <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                     <li class="card-element">Free access to all blogs</li>
                      <li class="card-element">Free access to all videos</li>
                      <li class="card-element">Free access to entry at Familymaker Awards </li>
                      <li class="card-element">Information on the upcoming Familymaker Connect event</li>
                      <li class="card-element">
                        Free access to first introductory 1-1 session with Mona Mehra 
                      </li>
                      <li class="card-element">
                        10% discount on all trainings and workshops 
                      </li>
                      <li class="card-element">
                        Free nomination for the award
                      </li>
                      <li class="card-element">
                        Logo on the online poster 
                      </li>
                    </ul>
                    <button class="btn btn-standard">Become a member</button>
                  </div>
                </div>
              </div>
              <!-- <div class="card-premium">
                <div class="card-header header-premium">
                  <h1>Silver</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹20,000/-</h3></p>
                  <div class="card-element-hidden-premium">
                    <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                      <li class="card-element">Logo on main banner of the event</li>
                      <li class="card-element">1-minute speech about the organisation</li>
                    </ul>
                    <button class="btn btn-premium">Order now</button>
                  </div>
                </div>
              </div>
              <div class="card-basic">
                  <div class="card-header header-basic">
                    <h1>Gold</h1>
                  </div>
                  <div class="card-body">
                    <p><h3>₹50,000/-</h3></p>
                    <div class="card-element-hidden-basic">
                      <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                      <li class="card-element">Logo on main banner of the event</li>
                      <li class="card-element">2-minute speech as Guest of Honor</li>
                      <li class="card-element">1-minute speech about the organisation</li>
                      </ul>
                      <button class="btn btn-basic">Order now</button>
                    </div>
                  </div>
              </div> 
              <div class="card-standard">
                <div class="card-header header-standard">
                  <h1>Platinum</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹1,00,000/-</h3></p>
                  <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                      <li class="card-element">Logo on main banner of the event</li>
                      <li class="card-element">5-minute speech as Guest of Honor</li>
                      <li class="card-element">Guest of Honor Trophy</li>
                      <li class="card-element">Display of product</li>
                      </ul>
                    </ul>
                    <button class="btn btn-standard">Order now</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
{%endblock%}