{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- donate start here -->
      <div id="donate">
        <div id="our-vision">
          <div id="overlay">
            <h2>Home / Donate</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
          </div>
        </div>
        <div class="donate-container">
          <p>
            We are working on a mission to change the perspective for Home and
            Homemakers. The deep seeded disrespect mothers, wives, housewives,
            househusband, stay-at-home mom or dad also known as Homemakers face
            is demoralizing which slowly seeps away their self-confidence and
            self-respect, leading to mental health issues. The reason behind the
            same is the wrong policy we follow which accepts only paid work as
            work. This declares anything we do in a Home as worthless as that is
            not done for money.
          </p>
          <p>
            We are working to create awareness and gain back respect for our
            mothers back in the society. We did our first ‘Familymaker Awards –
            Honoring the work of Homemakers’ on 8th October 2023 and plan to
            take it across India and World. We would also be doing training
            programs to educate people on making happier families in Homes.
          </p>
          <p>
            Your donation would help us reach out to larger audience and make
            happier families and homes worldwide.
          </p>
          <div class="payment-info">
            <p>Paytm: +91-9999340004</p>
            <p>Vision Search</p>
            <p>Current A/C No: 0148002100426558</p>
            <p>IFSC Code: PUNB0014800</p>
            <span
              >To connect with us for any query mail at
              <span>mona@visionsearch.co.in</span></span
            >
          </div>
        </div>
        <div class="contact-us-container">
          <div class="contact-us-form">
            <form action="">
              <div>
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Enter Your Name" />
              </div>
              <div>
                <label for="number">Phone Number</label>
                <input
                  type="text"
                  name="number"
                  id="number"
                  placeholder="Enter Your Phone Number" />
              </div>
              <div>
                <label for="email">Emails</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Enter Your Email" />
              </div>
              <div>
                <label for="message">Messages</label>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="10"></textarea>
              </div>
              <button type="submit" class="read-more-btn">Submit</button>
            </form>
          </div>
          <div class="contact-us-map">
            <img src="https://monamehra.com/uploads/cc.jpg" alt="" />
            <div id="social-media-icons-carousel">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="contact-us-email">
              <span>Email:</span>
              <a href="mailto:mona@visionsearch.co.in"
                >mona@visionsearch.co.in</a
              >
              <a href="mailto:mona@monamehra.com">mona@monamehra.com</a>
            </div>
            <div class="contact-us-phone">
              <span>Whatsapp:</span>
              <a href="tel:+919999340004">+91-9999340004</a>
            </div>
          </div>
        </div>
    </div>
    <!-- donate ends here -->
    {%endblock%}