{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Familymaker Awards Start Here -->
      <div id="awards">
        <h2>Familymaker Awards</h2>
        <img src="{%static 'assest/images/awards.jpg'%}" class="family-awards">
        <div class="awards-container">
          <div class="awards-content">
            <p>
              Familymaker awards has been commenced by Mona Mehra of Vision Search to honor the work of homemakers. Over the years she saw the disrespect faced by her mother and aunts and anybody who takes the responsibility or accountability of running the household.
            </p>
            <p>
             A homemaker is devoid of any gender and her mission became to gain back the respect for a Home and Homemakers. It takes loads of work to make a home/family and since the person doing the task at home does the work themselves and it is free it is not accepted as work. The doer of the task is mostly a mother or a father or could be any close family member.
            </p>
            <p>
             Since the benchmark we follow for work is that it has to be done for money only, this disqualifies a Homemaker to take credit of the work done and causes so much of mental health issues in them. The constant disrespect leads to depression, frustration, anger and loss of self-confidence and self-respect. 
            </p>
            <p>Upcoming Familymaker Awards</p>
            <p>
            The upcoming Familymaker awards are planned on 28th April 2024. The theme of the event is ‘Nurturing and Developing Emotional Intelligence in Families and Familymaker Awards’. 
            </p>
            <h4>First Familymaker Awards</h4>
            <p>
            The first Familymaker awards were conducted under the theme of 'Family as Happy Home & Familymaker Award' discussion was conducted on 8th October 2023 and the program was organized by Vision Search in association with Global Peace Foundation India and Khushigram at Noida Auditorium.
            </p>
            <p>
           Familymaker awards has been commenced by Mona Mehra of Vision Search to honor the work of homemakers. Over the years she saw the disrespect faced by her mother and aunts and anybody who takes the responsibility or accountability of running the household.
            </p>
            <p>A homemaker is devoid of any gender and her mission became to gain back the respect for a Home and Homemakers. It takes loads of work to make a home/ family and since the person doing the task at home does the work themselves and it is free it is not accepted as work. The doer of the task is mostly a mother or a father or could be any close family member.</p>
            <p>Since the benchmark we follow for work is that it has to be done for money only, this disqualifies a Homemaker to take credit of the work done and causes so much of mental health issues in them. The constant disrespect leads to depression, frustration, anger and loss of self-confidence and self-respect.  </p>
            <p>The awards were declared by the jury comprising of Mr. Sarvesh Mittal, National Advisor Rashtriya Sainik Sansthan,  Ms. Asha Mohini – President Sambhavana Samajik Kalyan kari Samiti and Vasudha Arora- National Award Winner Educationist & Happiness Life Coach.</p>
            <p>The criteria of selection were involvement, accountability, responsibility, time spent, values and ethics upheld, human and material resource management, etc. Breaking the gender stereotype, two men were awarded and the jury felt that more men would come forward to take the responsibility and would be awarded in the future.</p>
            <p>On the basis of special contribution and evaluation in building families, Dr. C.K. Bhardwaj, AkshitaTomar, Ritica Arora, Krishna Chauhan, Laxman Jha, Madhu Gupta, Anju Aggarwal, Seema Singh and Priyanka Kumar were awarded the Familymaker Award. </p>
            <h4>Familymaker Awardees</h4>
          </div>
          <div class="awards-image-container">
            <div class="awards-images">
              <img src="{%static 'assest/images/1.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/2.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/3.jpg'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/4.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/5.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/6.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/7.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/8.png'%}" alt="" />
            </div>
            <div class="awards-images">
              <img src="{%static 'assest/images/9.png'%}" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
      {%endblock%}