{% extends "index.html" %}
{%load static%}
{%block body%}
    <!-- Familymaker Awards Start Here -->
    <div id="public-speaking">
        <div id="our-vision">
            <div id="overlay">
            <h2>Home / Happy Home</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
            </div>
        </div>
        <div class="public-speaking-container">
            <div class="public-speaking-box">
                <img src="https://monamehra.com/images/m.jpg" alt="">
            </div>
            <div class="public-speaking-box">
                <h3>Making Happy Home</h3>
                <p>Here we aim to give clarity on the various aspects which make a home. Since organizations are talked about a lot we endeavor to show similarity of operations between home and organization so that there is respect for work being done in a Home.</p>
                <div class="public-speaking-content">
                    <h5>The workshop includes-</h5>
                    <ul>
                        <li>Similarity of operations between a Home and organization</li>
                        <li>Material & Non material aspect of building a Home</li>
                        <li>Managing Relationships</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
      {%endblock%}