{% extends "index.html" %}
{%load static%}
{%block body%}
    <!-- Familymaker Awards Start Here -->
    <div id="public-speaking">
        <div id="our-vision">
            <div id="overlay">
            <h2>Home / Leadership Skills</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
            </div>
        </div>
        <div class="public-speaking-container">
            <div class="public-speaking-box">
                <img src="https://monamehra.com/images/home.jpg" alt="">
            </div>
            <div class="public-speaking-box">
                <h3>Learning Leadership Skills in a Home</h3>
                <p>We all start from a home and we tend to learn skills from a home. Let’s be more aware and conscious of the skills we will learn in a Home.</p>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
      {%endblock%}