{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Familymaker Awards Start Here -->
      <div id="resource-media">
        <div id="our-vision">
           <div id="overlay">
             <h2>Home / Media</h2>
             <canvas id="canvas" class="d-none d-md-block"></canvas>
           </div>
         </div>
         <div class="resource-media-container">
            <p>Our webinar on the topic 'Leadership in a Home' was featured in renowned online media like <span> Asian News channel, GNN Asia, World News and News Age</span>, Many thanks to sanjeev Dev Malik.</p>
            <div class="resource-media-box">
              <img src="https://monamehra.com/images/news1.jpg" alt="">
              <p>Vision Search Organized A Webinar With Few Eminent People On The Topic “Leadership In A Home”</p>
            </div>
            
            <div class="resource-media-box">
            <img src="https://monamehra.com/images/news2.jpg" alt="">
            <p>Vision Search Organized A Webinar With Few Eminent People On The Topic “Leadership In A Home”</p>
            </div>
            <div class="resource-media-box">
              <img src="https://monamehra.com/images/news3.jpg" alt="">
              <p>Vision Search Organized A Webinar With Few Eminent People On The Topic “Leadership In A Home”</p>
            </div>
             <div class="resource-media-box">
              <img src="https://monamehra.com/images/news4.jpg" alt="">
              <p>Vision Search Organized A Webinar With Few Eminent People On The Topic “Leadership In A Home”</p>
            </div>
            
            <div class="resource-media-box">
            <img src="https://monamehra.com/images/news5.jpg" alt="">
            <p>Vision Search Organized A Webinar With Few Eminent People On The Topic “Leadership In A Home”</p>
            </div>
            <div class="resource-media-box">
              <img src="https://monamehra.com/images/news6.jpg" alt="">
              <p>Vision Search Organized A Webinar With Few Eminent People On The Topic “Leadership In A Home”</p>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
     {%endblock%}