{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- donate start here -->
      <div id="donate">
        <div class="donate-container">
          <h2 class="nomination-heading">Nomination Form</h2>
          <p>
            We are organizing the second Familymaker Awards to honor and
            acknowledge the work of homemakers. Who exactly is a homemaker, is
            one is the biggest question? We all start and go back to a Home at
            the end of the day and make one, then it makes all of us a
            homemaker. But one person ends up taking more accountability and
            responsibility of running a household. The person plays the role of
            a mother (can be played by any gender). 
          </p>
          <p>
             Families are nurtured in a Home and it takes loads of work to make
            a house into a Home. Homemaker is not gender specific and as a
            family it gets to be the onus of each one to contribute to make one.
            However, there are multiple dimensions working simultaneously when
            children or elderly are involved.
          </p>
          <p>
            There are many aspects involved in running a household, many of them
            fall under the category of chores (cooking, cleaning etc.) and many
            in relationships (parenting, caregiving, couple relationships etc.).
            The responsibility of various tasks might be shared but the
            accountability or onus lies with one person as when something goes
            right or wrong after the task, one person is held accountable. The
            person who holds the accountability of running a household is the
            primary Familymaker.   
          </p>
          <p>
            As each one of us starts from a Home, skill building and inculcation
            of values starts from a Home. Leadership, EQ, teamwork, cooperation,
            patience, tolerance and many other skills are learned in a home
            living with people. Our endeavor is to propagate the family values
            which increasingly are getting lost due to the rapid
            commercialization of living. The society accepts work as work only
            when done for money and nobody does anything for money in a Home.
            The significance of work in a home is lost when it lacks its due
            respect. These awards are to regain the respect for the work done in
            a home. Work can be done by domestic helps but majority of the
            population cannot afford and do the work themselves which takes time
            and efforts.
          </p>
          <p>More about our work can be checked out at www.monamehra.com </p>
          <p>
            Processing Fees of 500/- would be charged per registration .This
            includes the social media presence and promotion of the nominees on
            our social media pages.  The awardees will be finalized based on
            answers, likes on social media and final interview of the selected
            candidates.  
          </p>
          <p>Paytm to Mona Mehra at +91-9999340004 and share a screenshot. </p>
        </div>
        <div class="contact-us-container">
          <div class="contact-us-form" id="nomeni-form">
            <form action="">
              <div>
                <label for="email">Email <span>*</span></label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Enter Your Email" />
              </div>
              <div>
                <label for="name">Name <span>*</span></label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Enter Your Name" />
              </div>
              <div>
                <label for="email">Age <span>*</span> </label>
                <div class="nomination-age">
                  <input type="radio" name="age" id="age" /> 18 - 25 Years
                </div>
                <div class="nomination-age">
                  <input type="radio" name="age" id="age" /> 25 - 35 Years
                </div>
                <div class="nomination-age">
                  <input type="radio" name="age" id="age" /> 35 - 45 Years
                </div>
                <div class="nomination-age">
                  <input type="radio" name="age" id="age" /> 45 - 60 Years
                </div>
                <div class="nomination-age">
                  <input type="radio" name="age" id="age" /> 60+ Years
                </div>
              </div>
              <div>
                <label for="location">Location <span>*</span></label>
                <input
                  type="text"
                  name="location"
                  id="location"
                  placeholder="Enter Your Location" />
              </div>
              <div>
                <label for="mobile">Mobile <span>*</span></label>
                <input
                  type="text"
                  name="mobile"
                  id="mobile"
                  placeholder="Enter Your Mobile Number" />
              </div>
              <div>
                <label for="email">Email <span>*</span></label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Enter Your Email" />
              </div>
              <div>
                <label for="nomine-name"
                  >Name of the person you would like to nominate. You can
                  nominate yourself also. <span>*</span></label
                >
                <input
                  type="text"
                  name="nomine-name"
                  id="nomine-name"
                  placeholder="Enter Your Nomine Name" />
              </div>
              <div>
                <label for=""
                  >As a familymaker you have a lot many responsibilities.
                  Outline your main responsibilities and how do you manage them
                  <span>*</span></label
                >
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="5"></textarea>
              </div>
              <div>
                <label for=""
                  >How as a mother ( role can be played by any gender) you have
                  been able to change the lives of your family members in a
                  positive way? <span>*</span></label
                >
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="5"></textarea>
              </div>
              <div>
                <label for=""
                  >How can we make happy home and families? Share your views.
                  <span>*</span></label
                >
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="5"></textarea>
              </div>
              <div>
                <label for=""
                  >Have you registered with a processing fee of Rs. 500/- at
                  9999340004 and shared the screen short on whattsapp? Also
                  share your picture on whattsapp. <span>*</span>
                </label>
                <div class="nomination-age">
                  <input type="radio" name="bool" id="bool" />Yes
                </div>
                <div class="nomination-age">
                  <input type="radio" name="bool" id="bool" />No
                </div>
              </div>
              <button type="submit" class="read-more-btn">Submit</button>
            </form>
          </div>
          <!-- <div class="contact-us-map">
            <img src="https://monamehra.com/uploads/cc.jpg" alt="" />
            <div id="social-media-icons-carousel">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div> -->
          <!-- <div class="contact-us-email">
            <span>Email:</span>
            <a href="mailto:mona@visionsearch.co.in">mona@visionsearch.co.in</a>
            <a href="mailto:mona@monamehra.com">mona@monamehra.com</a>
          </div>
          <div class="contact-us-phone">
            <span>Whatsapp:</span>
            <a href="tel:+919999340004">+91-9999340004</a>
          </div>
        </div> -->
      </div>
    </div>
    <!-- donate ends here -->
    {%endblock%}