{% extends "index.html" %}
{%load static%}
{%block body%}
      <div id="about-us">
        <div id="our-vision">
          <div id="overlay">
            <canvas id="canvas" class="d-none d-md-block"></canvas>
            <h2>Home / Our Achivements</h2>
          </div>
        </div>
        <div id="about-me">
          <div class="about-me-text">
            <h3>Achievements</h3>
            <ul>
              <li>
                Speaker on national Mompreneur meet organized by Janitri, WICCI,
                Mintlime on topic 'How to sustain your startup.
              </li>
              <li>Workshop 'Santulan' featured on Global GoalsCast.</li>
              <li>
                Webinar on 'Leadership in a Home' with eminent people featured
                on Asian News Channel, GNN Asia, World News and News Age.
              </li>
              <li>
                Webinar on 'Leadership Lesson from Fathers in a Home' featured
                on Jagran Josh.
              </li>
              <li>
                Save a Home campaign' featured on media like News Age, World
                News, GNN Asia and Asian News Channel.
              </li>
            </ul>
          </div>
          <div class="about-me-image">
            <img
              src="https://monamehra.com/uploads/gallery_img-01.jpg"
              alt="" />
            <div id="social-media-icons-carousel">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {%endblock%}