{% extends "index.html" %}
{%load static%}
{%block body%}
      <div id="about-us">
        <div id="our-vision">
          <div id="overlay">
            <canvas id="canvas" class="d-none d-md-block"></canvas>
            <h2>Home / Our Vision & Mission</h2>
          </div>
        </div>
        <div id="about-me">
          <div class="about-me-text">
            <h3>Vision</h3>
            <p>
              To be a globally acclaimed thought leader helping create happy
              Homes.
              <br />
              Mission of defining various aspects of a HOME. Multiple dimensions
              work simultaneously in a home like gender differences, leadership,
              relationships, parenting etc. Relating each aspect at Home to
              Workplace (Skill building, Leadership, team work etc.) to include
              Home in the productive category.
            </p>
            <p>
              Mona believes in holistic life which leads to comprehensive
              individual development including all facets of living like
              physical, emotional, intellectual, social and spiritual. Mona
              found that Home is the center of our living, yet it is not
              included in the learning arena. She does trainings to include home
              into the learning area for holistic development and for better
              work-home balance.
            </p>
            <p>
              Multiple aspects work simultaneously in a home like chores,
              parenting, relationships, couple differences and similarities etc.
              She defines various aspects to show the origin of various skills
              from a Home to include work in a Home in productive category.
            </p>
            <p>
              Mona is an experienced risk management professional who has worked
              with Indian and multinational firms and have 15+ years of
              experience assisting corporates in future planning and profit
              maximization. She ventured into Professional Speaking and
              Trainings in 2015 when she started undertaking programs on various
              facets of a Home.
            </p>
          </div>
          <div class="about-me-image">
            <img src="https://monamehra.com/uploads/c2.jpg" alt="" />
            <div id="social-media-icons-carousel">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div id="about-me">
          <div class="about-me-text">
            <h3>About Mona Mehra</h3>
            <p>
              Mona defines a Home for easier understanding so that people make
              happier families and are more productive in their workplaces.
              <br />
              Growing up Mona felt the pain of the womenfolk all around who were
              so disrespect as mothers and wives aka homemakers that she decided
              to find the reason why. As a risk management professional she
              found many similarities between a Home and a workplace and started
              integrating them. She is a work home integrator.
            </p>
            <p>
              Mona believes in holistic life which leads to comprehensive
              individual development including all facets of living like
              physical, emotional, intellectual, social and spiritual. Mona
              found that Home is the center of our living, yet it is not
              included in the learning arena. She does trainings to include home
              into the learning area for holistic development and for better
              work-home balance.
            </p>
            <p>
              Multiple aspects work simultaneously in a home like chores,
              parenting, relationships, couple differences and similarities etc.
              She defines various aspects to show the origin of various skills
              from a Home to include work in a Home in productive category.
            </p>
            <p>
              Mona is an experienced risk management professional who has worked
              with Indian and multinational firms and have 15+ years of
              experience assisting corporates in future planning and profit
              maximization. She ventured into Professional Speaking and
              Trainings in 2015 when she started undertaking programs on various
              facets of a Home.
            </p>
            <p>Mona is a Work Home Balance Expert and Mentor.</p>
            <p>
              Growing up Mona felt the pain of the womenfolk all around who were
              so disrespect as mothers and wives aka homemakers that she decided
              to find the reason why. As a professional she found many
              similarities between a Home and a workplace and started
              integrating them.
            </p>
            <p>
              Mona believes in holistic life which leads to comprehensive
              individual development including all facets of living like
              physical, emotional, intellectual, social and spiritual. Mona
              found that Home is the center of our living, yet it is not
              included in the learning arena. She does trainings to include home
              into the learning area for holistic development and for better
              work-home balance.
            </p>
            <p>
              Multiple aspects work simultaneously in a home like relationships,
              couple differences, parenting. She defines various aspects to show
              the origin of various skills from a Home to include work in a Home
              in productive category.
            </p>
            <p>
              Mona is an experienced risk management professional who has worked
              with Indian and multinational firms and have 15+ years of
              experience as a Business Intelligence(BI) expert assisting
              corporates in future planning and profit maximization. She
              ventured into Professional Speaking and Trainings in 2015 when she
              found that nobody wanted to talk about a home as Home maker is the
              dirtiest word across the world.
            </p>
          </div>
          <div class="about-me-image">
            <img src="https://monamehra.com/uploads/ab.jpg" alt="" />
            <div id="social-media-icons-carousel">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>

                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     {%endblock%}