{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Videos Start here -->
      <div id="videos">
        <div class="video-container">
          <!-- <a href=""> -->
          <h2
            style="text-align: center; position: static; padding-bottom: 30px">
            Panel Discussion / Webinar
          </h2>
          <!-- </a> -->
          <div class="video-main-container">
            <div class="video-box">
              <iframe
                src="https://www.youtube.com/embed/G6gkMYPY_ik"
                title="Women&#39;s Day 2022 I Happy Women&#39;s Day"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="video-box">
              <iframe
                src="https://www.youtube.com/embed/zv0Ays947jw"
                title="A Different Perspective- The World is Upside Down"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="video-box">
              <iframe
                src="https://www.youtube.com/embed/m_ywXtzS070"
                title="Is Recession Linked To Housework? Why do we have a recession?"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="video-box">
              <iframe
                src="https://www.youtube.com/embed/Nsv0sIiUUUo"
                title="Emotional Intelligence(EQ) by Upbringing? I  How do Kids learn Emotional Intelligence?"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="video-box">
              <iframe
                src="https://www.youtube.com/embed/mIANkSFR8v8"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
            </div>
            <div class="video-box">
              <iframe
                src="https://www.youtube.com/embed/VsXNANxlqik"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- video ends here -->
      {%endblock%}