{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Familymaker Awards Start Here -->
      <div id="resource-media">
        <div id="our-vision">
           <div id="overlay">
             <h2>Home / Post</h2>
             <canvas id="canvas" class="d-none d-md-block"></canvas>
           </div>
         </div>
        <div class="resource-media-container">
            <div class="resource-media-box">
              <img src="https://monamehra.com/uploads/post-1.jpg" alt="">
            </div>
            
            <div class="resource-media-box">
            <img src="https://monamehra.com/uploads/post-2.jpg" alt="">
            </div>
            <div class="resource-media-box">
              <img src="https://monamehra.com/uploads/post-3.jpg" alt="">
            </div>
             <div class="resource-media-box">
              <img src="https://monamehra.com/uploads/post-1.jpg" alt="">
            </div>
            
            <div class="resource-media-box">
            <img src="https://monamehra.com/uploads/post-2.jpg" alt="">
            </div>
            <div class="resource-media-box">
              <img src="https://monamehra.com/uploads/post-3.jpg" alt="">
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
     {%endblock%}