{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Familymaker Awards Start Here -->
      <div id="public-speaking">
        <div id="our-vision">
           <div id="overlay">
             <h2>Home / Public Speaking</h2>
             <canvas id="canvas" class="d-none d-md-block"></canvas>
           </div>
         </div>
        <div class="public-speaking-container">
            <div class="public-speaking-box">
                <img src="https://monamehra.com/uploads/c2.jpg" alt="">
            </div>
            <div class="public-speaking-box">
                <h3>Public Speaking Workshop for Children & Adults</h3>
                <div class="public-speaking-content">
                    <h5>Topics Covered-</h5>
                    <ul>
                        <li>Basic Foundation</li>
                        <li>Types of Speech</li>
                        <li>Story Telling</li>
                        <li>Crafting a Speech</li>
                        <li>Tonal Variation & Body Language</li>
                        <li>Speech Contest</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
    {%endblock%}