{% extends "index.html" %}
{%load static%}
{%block body%}
    <!-- Familymaker Awards Start Here -->
    <div id="public-speaking">
        <div id="our-vision">
            <div id="overlay">
            <h2>Home / Relationship Workshop</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
            </div>
        </div>
        <div class="public-speaking-container">
            <div class="public-speaking-box">
                <img src="https://monamehra.com/images/ws.jpg" alt="">
            </div>
            <div class="public-speaking-box">
                <h3>Relationship Workshops Santulan-Making Gender Differences Work</h3>
                <p>The objective of the Santulan workshop is to help men and women understand each other better so that they can live and work in harmony with each other.</p>
                <div class="public-speaking-content">
                    <h5>The workshop includes-</h5>
                    <ul>
                        <li>Compare the differences between Men and Women.</li>
                        <li>Explore the reason behind the differences between men and women.</li>
                        <li>Implication of the differences in our day-to-day life.</li>
                        <li>Solutions to bridge the Gap.</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
    {%endblock%}