{% extends "index.html" %}
{%load static%}
{%block body%}
      <!-- Familymaker Awards Start Here -->
      <div id="resource-media">
        <div id="our-vision">
           <div id="overlay">
             <h2>Home / Resources</h2>
             <canvas id="canvas" class="d-none d-md-block"></canvas>
           </div>
         </div>
        <div class="resource-media-container">
          <div class="resource-media-box">
              <a href="bloglist.html">
                <div>
                    <img src="https://monamehra.com/images/b.jpg" alt="">
                    <div class="resource-overlay"></div>
                </div>
              </a>
                <h4>Blog</h4>
              </div>
            <div class="resource-media-box">
              <a href="blog-video.html">
                <div>
                  <img src="https://monamehra.com/images/video.jpg" alt="">
                  <div class="resource-overlay"></div>
                </div>
              </a>  
                <h4>Videos</h4>
            </div>
            <div class="resource-media-box">
              <a href="post.html">
                <div>
                  <img src="https://monamehra.com/images/post.jpg" alt="">
                  <div class="resource-overlay"></div>
                </div>
              </a>
                <h4>Post</h4>
            </div>
            <div class="resource-media-box">
              <a href="panelvideo.html">
                <div>
                  <img src="https://monamehra.com/images/panel.jpg" alt="">
                  <div class="resource-overlay"></div>
                </div>
              </a>
                <h4>Panel</h4>
            </div>
            <div class="resource-media-box">
              <a href="media.html">
                <div>
                  <img src="https://monamehra.com/images/media.jpg" alt="">
                  <div class="resource-overlay"></div>
                </div>
              </a>
                <h4>Media</h4>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
      
      {%endblock%}