{% extends "index.html" %}
{%load static%}
{%block body%}
    <!-- Familymaker Awards Start Here -->
    <div id="public-speaking">
        <div id="our-vision">
            <div id="overlay">
            <h2>Home / Risk Management</h2>
            <canvas id="canvas" class="d-none d-md-block"></canvas>
            </div>
        </div>
        <div class="public-speaking-container">
            <div class="public-speaking-box">
                <img src="https://monamehra.com/images/risk.jpg" alt="">
            </div>
            <div class="public-speaking-box">
                <h3>Risk Management</h3>
                <div class="public-speaking-content">
                    <h5>The workshop includes-</h5>
                    <ul>
                        <li>Background Screening</li>
                        <li>Due Diligence</li>
                        <li>Business Intelligence</li>
                        <li>Competitive Intelligence</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- Familymaker Awards Ends Here -->
    {%endblock%}