{% extends "index.html" %}
{%load static%}
{%block body%}

      <div id="sponsership">
        <div class="sponsership-container">
          <h2>Sponsorship for Awards</h2>
          <div class="sponsership-content">
            <p>
              The first Familymaker awards was a grand success. There were live
              audience of over 150+ people and a wide news coverage.
            We are working on a mission to change the perspective for Home and Homemakers. The deep seeded disrespect mothers, wives, housewives, househusband, stay-at-home mom or dad also known as Homemakers face is demoralizing which slowly seeps away their self-confidence and self-respect, leading to mental health issues. The reason behind the same is the wrong policy we follow which accepts only paid work as work. This declares anything we do in a Home as worthless as that is not done for money. 
          </p>
            <p>We are working to create awareness and gain back respect for our mothers back in the society. We did our first ‘Familymaker Awards – Honoring the work of Homemakers’ on 8th October 2023 and plan to take it across India and World. We would also be doing training programs to educate people on making happier families in Homes. </p>
            <p>Your sponsorship would help us reach out to larger audience and make happier families and homes worldwide. </p>
            <div class="price-card-container">
              <div class="card-basic">
                <div class="card-header header-basic">
                  <h1>Copper</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹5000/-</h3></p>
                  <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                    </ul>
                    <button class="btn btn-basic">Sponsor now</button>
                  </div>
                </div>
              </div>
              <div class="card-standard">
                <div class="card-header header-standard">
                  <h1>Bronze</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹10,000/-</h3></p>
                  <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                    </ul>
                    <button class="btn btn-standard">Sponsor now</button>
                  </div>
                </div>
              </div>
              <div class="card-premium">
                <div class="card-header header-premium">
                  <h1>Silver</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹20,000/-</h3></p>
                  <div class="card-element-hidden-premium">
                    <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                      <li class="card-element">Logo on main banner of the event</li>
                      <li class="card-element">1-minute speech about the organisation</li>
                    </ul>
                    <button class="btn btn-premium">Sponsor now</button>
                  </div>
                </div>
              </div>
              <div class="card-basic">
                  <div class="card-header header-basic">
                    <h1>Gold</h1>
                  </div>
                  <div class="card-body">
                    <p><h3>₹50,000/-</h3></p>
                    <div class="card-element-hidden-basic">
                      <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                      <li class="card-element">Logo on main banner of the event</li>
                      <li class="card-element">2-minute speech as Guest of Honor</li>
                      <li class="card-element">1-minute speech about the organisation</li>
                      </ul>
                      <button class="btn btn-basic">Sponsor now</button>
                    </div>
                  </div>
              </div> 
              <div class="card-standard">
                <div class="card-header header-standard">
                  <h1>Platinum</h1>
                </div>
                <div class="card-body">
                  <p><h3>₹1,00,000/-</h3></p>
                  <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                      <li class="card-element">Logo on Online Poster</li>
                      <li class="card-element">Logo on Brochuer</li>
                      <li class="card-element">Logo on Award Trophy</li>
                      <li class="card-element">Logo on main banner of the event</li>
                      <li class="card-element">5-minute speech as Guest of Honor</li>
                      <li class="card-element">Guest of Honor Trophy</li>
                      <li class="card-element">Display of product</li>
                      </ul>
                    </ul>
                    <button class="btn btn-standard">Sponsor now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sponsership-container">
          <h2>News Coverage</h2>
          <div class="sponsership-content">
            <p>
              The first Familymaker awards concluded on 8th Oct 2023 was a grand success. There were live audience of over 150+ people and a wide news coverage. News coverage was done on a number of online and offline platforms like World News 24x7, GNN Asia, News Age, Asian News etc.  
          </p>
          <div class="news-coverage-container">
            <div class="news-coverage-box">
              <a href="https://www.news-age.com/family-as-happy-home-familymaker-award/ ">
                <img src="{%static 'assest/images/news1.png'%}" alt="">
              </a>
              <div class="overlay"></div>
            </div>
            <div class="news-coverage-box">
              <a href="https://www.asian-news-channel.tv/family-as-happy-home-familymaker-award-discussion-concluded/">
                <img src="{%static 'assest/images/news6.png'%}" alt="">
              </a>
              <div class="overlay"></div>
            </div>
            <div class="news-coverage-box">
              <a href="https://www.gnn.asia/family-as-happy-home-familymaker-award-discussion-concluded/ ">
                <img src="{%static 'assest/images/news3.png'%}" alt="">
              </a>
              <div class="overlay"></div>
            </div>
            <div class="news-coverage-box">
              <a href="https://www.worldnews24x7.tv/family-as-happy-home-familymaker-award-discussion-concluded/">
                <img src="{%static 'assest/images/news4.png'%}" alt="">
              </a>
              <div class="overlay"></div>
            </div>
            <div class="news-coverage-box">
              <a href="">
                <img src="{%static 'assest/images/news5.jpg'%}" alt="">
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          </div>
        </div>
      </div>
     {%endblock%}